@model IEnumerable<Product>
@{
    string name="";
    string count="";
    int categoryId = 0;
}

<form method="post" class="form-control row g-3" asp-controller="Product"
    asp-action="Add">
    <div class="col-auto form-floating">
        <input type="text" class="form-control" id="pName" placeholder="Наименование товара"
        asp-for="@name" />
        <label for="pName">Наименование товара</label>
    </div>
    <div class="col-auto form-floating">
        <input type="text" class="form-control" id="pCount" placeholder="Количество на складе"
        asp-for="@count" />
        <label for="pCount">Количество на складе</label>
    </div>
    <div class="mb-3">
         <label>Категория</label>
        <select asp-for="@categoryId" asp-items="ViewBag.Categories" 
        class="form-control"></select>
    </div>
    <div class="d-grid gap-2">
        <input type="submit" class="btn btn-primary mb-3" value="Добавить" />
    </div>
</form>
<br />
<form method="get" class="form-control row g-3">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Поиск" />
    </div>
</form> 

<partial name="_ProductsTable" />