@model IEnumerable<Product>
@{
    string name="";
    int count=0;
    int categoryId = 0;
}

<form method="post" class="form-control row g-3" asp-controller="Product"
    asp-action="Add">
    <div class="col-auto">
        <input type="text" class="form-control" placeholder="Наименование товара"
        asp-for="@name" />
    </div>
    <div class="col-auto">
        <label>Количество на складе</label>
        <input type="text" class="form-control" placeholder="Количество на складе"
        asp-for="@count" />
    </div>
        <div class="col-auto">
         <label>Категория</label>
        <select asp-for="@categoryId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="d-grid gap-2">
        <input type="submit" class="btn btn-primary mb-3" value="Добавить" />
    </div>
</form>

<partial name="_ProductsTable" />