@model IEnumerable<Product>
@{
    string name = "";
    string count = "";
    int categoryId = 0;
}

<form method="post" class="form-control row g-3">
    <div class="col-auto form-floating">
        <input type="text" class="form-control" id="pName" placeholder="Наименование товара" />
        <label for="pName">Наименование товара</label>
    </div>
    <div class="col-auto form-floating">
        <input type="text" class="form-control" id="pCount" placeholder="Количество на складе" />
        <label for="pCount">Количество на складе</label>
    </div>
    <div class="mb-3">
        <label>Категория</label>
        <select itemid="categoryId" id="categorySelect" asp-items="ViewBag.Categories"
                class="form-control"></select>
    </div>
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary mb-3" id="addButton">
            Добавить
        </button>
    </div>
</form>
<br />
<form method="get" class="form-control row g-3">
    <div class="mb-3">
        <input type="text" id="searchInput" oninput="searchFunc()" class="form-control" placeholder="Поиск" />
    </div>
</form>

<div id="productList">
    <partial name="_ProductsTable" />
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#addButton').click(function () {
            const name = $('#pName').val();
            const count = $('#pCount').val();
            const categoryId = $('#categorySelect').val();
            $.ajax({
                url: '@Url.Action("Add", "Product")',
                type: 'POST',
                data: { name: name, count: count, categoryId: categoryId },
                success: function (data) {
                    $('#productList').html(data);
                    $('#pName').val('');
                    $('#pCount').val('');
                }
            });
        });
    });

    function searchFunc() {
        let searchString = $("#searchInput").val();
        $.ajax({
            url: '@Url.Action("Search", "Product")',
            type: 'GET',
            data: { searchString: searchString },
            success: function (data) {
                $('#productList').html(data);
            }
        });
    }

    function changePage(pageNumber) {
        $.ajax({
            url: '@Url.Action("Search", "Product")',
            type: 'GET',
            data: { page: pageNumber },
            success: function (data) {
                $('#productList').html(data);
            }
        });
    }
</script>