@model IEnumerable<ProductCategory>
@{
    string name = "";
}

<form method="post" class="form-control row g-3" asp-controller="ProductCategory"
      asp-action="Add">
    <div class="col-auto">
        <input type="text" class="form-control" placeholder="Наименование категории" asp-for="@name" />
    </div>
    <div class="d-grid gap-2">
        <input type="submit" class="btn btn-primary mb-3" value="Добавить" />
    </div>
</form>

<partial name="_CategoriesTable" />